django<=1.6
django-admin-bootstrapped<=2.3.5
django-classy-tags<=0.5.1
django-cms<=3.0.2
django-contrib-comments<=1.5
django-cors-headers<=1.0.0
django-mptt<=0.6.0
django-sekizai<=0.7
django-tagging<=0.3.2
django-xmlrpc<=0.1.5
djangocms-admin-style<=0.2.2
geoip2<=2.1.0
httplib2<=0.9.1
newrelic<=2.50.0.39
psycopg2<=2.5.1
trparse<=0.1.0
lxml<=3.3.5
netaddr<=0.7.13
django-tastypie==0.13.1
django_extensions