{% extends 'emails/pretty.html' %}

{% block html_content %}

    <h1>Nuevos puntos ({{ points|length }})</h1>
    <p>
        Se han detectado nuevos puntos de pruebas.

        <table>
        <thead>Lugar</thead>
        <thead>Dirección</thead>
        <thead>Más info.</thead>

            {% for p in points %}
            <tr>
                <td>{{ p.city }}, {{ p.country }}</td>
                <td>{{ p.ip_address }}</td>
                <td>{{ p.description }}</td>
            </tr>
        {% endfor %}
        </table>
    </p>

{% endblock %}