{% extends 'emails/pretty.html' %}

{% block html_content %}

    <h1>Un punto de pruebas ha sido dado de baja</h1>
    <p>
        Se ha detectado un punto de prueba como inactivo, y el mismo se ha dado de baja en la plataforma Simón. Futuras
        pruebas no incluirán este punto como target de mediciones.
    </p>

    <table>
        <tr>
            <thead>Lugar</thead>
            <thead>Dirección</thead>
            <thead>Más info.</thead>
        </tr>

        <tr>
            <td>{{ point.city }}, {{ point.country }}</td>
            <td>{{ point.ip_address }}</td>
            <td>{{ point.description }}</td>
        </tr>
    </table>

{% endblock %}