/* LACNIC - Labs / Mart�n 11/11/2011 martin@lacnic.net */
body {
    background-color: #fff;
    background-image: url(img/body_bg.png);
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    /*text-shadow:0 0 5px rgba(0, 0, 0, 0.75);
    -moz-text-shadow:0 0 5px rgba(0, 0, 0, 0.75);
    -ms-text-shadow:0 0 5px rgba(0, 0, 0, 0.75);
    -webkit-text-shadow:0 0 5px rgba(0, 0, 0, 0.75);*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
    line-height: 18px;
    margin: 3px 5px 3px 5px;
    padding: 0 5px 0 5px;
}

.mid_left h3 {
    color: #222;
    margin: 10px 0 10px 0;
    padding: 5px;
    border-bottom: 1px dashed #222;
    background-color: #fff;
}

h4 {
    color: #222;
    margin: 10px 0 10px 0;
    padding: 5px;
}

h5 {
    color: #222;
    margin: 10px 0 10px 0;
    padding: 5px;
}

/* cuerpo */
.cuerpo {
    width: 990px;
    margin: 0 auto 0 auto;
    padding: 0;
}

/* banner */
.banner {
    width: 990px;
    height: 148px;
    background-image: url(img/banner_bg.png);
    background-repeat: no-repeat;
    float: left;
}

.banner_left {
    width: 990px;
    height: 148px;
    float: left;
    margin: 0;
    padding: 0;
}

.logo {
    width: 350px;
    height: 148px;
    float: left;
    margin: 0;
    padding: 0;
}

.logo img {
    border: 0;
    margin: 10px 10px 0 10px;
}

.ipver {
    width: 640px;
    height: 148px;
    float: right;
    margin: 0;
    padding: 0;
}

.msg {
    background-color: #3f3f3f;
    float: left;
    text-align: center;
    margin: 100px 0 0 20px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    -ms-text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.msg p {
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
}

.msg p span {
    color: #f7a700;
}

.banner_right {
    width: 240px;
    height: 148px;
    float: right;
    margin: 0;
    padding: 0;
}

.log {
    width: 240px;
    height: 178px;
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 1000;
}

.log-on {
    width: 240px;
    height: 30px;
    float: left;
    margin: 0;
    padding: 0;
}

.log-on a img {
    border: none;
}

.login {
    width: 240px;
    height: 148px;
    float: left;
    margin: 0;
    padding: 0;
}

.login .block {
    width: 240px;
    height: 148px;
    margin: 0;
    padding: 0;
    background-image: url(img/login_bg.png);
    background-repeat: no-repeat;
}

.login .block form {
    padding: 10px 20px 3px 20px;
    text-align: left !important;
}

.login .form-item {
    margin: 0 0 5px 0;
}

.login .form-item label {
    font-size: 10px;
    color: #fff;
}

.login .form-item input {
    width: 160px;
    font-size: 10px;
    color: #729513;
    padding: 1px;
}

.login form input.form-submit {
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px;
    border: none;
    cursor: pointer;
    width: 160px;
    margin: 1px 0 0 0;
}

.login form .item-list {
    font-size: 10px;
    font-weight: normal;
}

.login form .item-list ul {
    padding: 0;
    margin: 5px 0 0 0;
}

.login form .item-list ul li {
    padding: 0;
    margin: 0 0 3px 20px;
    list-style-image: url(img/list_v.png);
}

.login form .item-list ul li a {
    text-decoration: none;
    color: #fff;
}

.login form .item-list ul li a:hover {
    color: #729513;
}

.login h2 {
    display: none;
}

/* contenido */
.contenido {
    width: 990px;
    margin: 0;
    padding: 0 0 10px 0;
    float: left;
}

.cont_top {
    width: 982px;
    height: 26px;
    float: left;
    margin: 0 4px 0 4px;
    padding: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: rgba(35, 83, 162, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

.cont_mid {
    width: 982px;
    min-height: 200px;
    float: left;
    margin: 0 4px 0 4px;
    padding: 0;
    background-color: rgba(233, 233, 233, 0.7);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

/* aqu� va el contenido */
.mid_left {
    width: 730px;
    margin: 10px 2px 0 0;
    padding: 5px 0 5px 0;
    float: left;
}

/* aqu� men� lateral */
.mid_right {
    width: 250px;
    margin: 10px 0 0 0;
    padding: 0;
    float: right;
}

.busqueda {
    width: 248px;
    height: 40px;
    padding: 0;
    margin: 0;
    float: right;
    background-color: #000;
    border-bottom: 1px solid #fff;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

.busqueda .container-inline {
    width: 248px;
    height: 40px;
}

.busqueda .container-inline .form-item {
    margin: 0;
    padding: 0;
}

.busqueda .container-inline .form-item label {
    display: none;
}

.busqueda .container-inline .form-item input {
    width: 150px;
    margin: 8px 5px 0 8px;
    color: #666;
    padding: 3px;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
}

.busqueda .container-inline input.form-submit {
    margin: 6px 5px 0 0;
    color: #fff;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
    font-weight: normal;
    background-color: #666;
    border: 1px solid #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.busqueda .container-inline input.form-submit:hover {
    background-color: #fbb900;
}

.right_menu {
    width: 240px;
    float: right;
    min-height: 150px;
    background-color: rgba(100, 100, 100, 0.35);
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    margin: 0;
    padding: 5px 0 5px 0;
}

/* footer */
.footer {
    width: 100%;
    height: 120px;
    background-image: url(img/foot_bg.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-color: #fff;
    float: left;
}

.foot_content {
    width: 990px;
    height: 120px;
    margin: 0 auto 0 auto;
    padding: 0;
}

.foot_labs {
    width: 170px;
    height: 64px;
    margin: 15px 0 0 5px;
    float: left;
}

.foot_empty {
    float: left;
    height: 120px;
    min-width: 500px;
    margin: 0 5px 0 5px;
}

.foot_lac {
    width: 160px;
    height: 80px;
    margin: 5px 0 0 0;
    float: right;
}

/* Iconos Sociales */
/* ref rss: http://www.labs.lacnic.net/drupal/rss.xml */
.social {
    width: 40px;
    float: left;
    position: fixed;
    top: 50%;
    left: 0;
    padding: 5px 0 5px 0;
    background-color: rgba(255, 255, 255, 0.50);
    border: 1px solid #fff;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.social a div {
    margin: 0 5px 5px 5px;
}

/* RSS */
.social_rss {
    width: 30px;
    height: 42px;
    background-image: url(img/social/social_rss.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
}

.social_rss:hover {
    background-image: url(img/social/social_rss.png);
    background-repeat: no-repeat;
    background-position: left top;
}

/* FACEBOOK */
.social_fbk {
    width: 30px;
    height: 42px;
    background-image: url(img/social/social_fbk.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
}

.social_fbk:hover {
    background-image: url(img/social/social_fbk.png);
    background-repeat: no-repeat;
    background-position: left top;
}

/* TWITTER */
.social_twr {
    width: 30px;
    height: 42px;
    background-image: url(img/social/social_twr.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
}

.social_twr:hover {
    background-image: url(img/social/social_twr.png);
    background-repeat: no-repeat;
    background-position: left top;
}

/* rigth - elementos */
.right_menu .block {
    padding: 5px 10px 5px 10px;
    margin: 0 0 10px 0;
    border-bottom: 1px dashed #999;
    text-align: left;
}

.right_menu h2, .right_menu h2.title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 5px 10px 5px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -ms-text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.right_menu .menu {
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
    list-style: circle;
}

.right_menu .menu li.leaf {
    list-style-image: url(img/list_b.png);
    font-size: 12px;
    font-weight: normal;
    margin: 3px 0 0 0;
    padding: 2px 0 2px 5px;
}

.right_menu .menu li.leaf a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -ms-text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    display: block;
}

.right_menu .menu li.leaf:hover {
    background-color: #818181 /*rgba(255,255,255,0.35)*/;
}

.right_menu .menu li.leaf a:hover {
    color: #fff;
}

.right_menu .content {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

/* block "Who's online" */
.right_menu div#block-user-3 {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.right_menu div#block-user-3 h2.title {
    color: #96c11f;
}

.right_menu div#block-user-3 .content {
    color: #333;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.right_menu .block-comment .content {
    padding: 0;
}

.right_menu .block-comment .content ul {
    padding: 0;
}

.right_menu .block-comment .content ul li {
    list-style-image: none;
    list-style: none;
    border: 1px solid #a6a6a6;
    padding: 3px;
    margin: 2px 0 5px 0;
    color: #666;
}

.right_menu .block-comment .content ul li:hover {
    border: 1px solid #f7f7f7;
    background-color: rgba(255, 255, 255, 0.25);
}

.right_menu .block-tagadelic {

}

.right_menu .block-tagadelic .more-link {
    display: block;
    padding: 3px;
    margin: 10px 0 5px 0;
    border: 1px solid #fff;
    background-color: #2353A2;
}

.right_menu .block-tagadelic .more-link a {
    color: #fff;
}

/* contenido central */
.mid_left .node {
    margin: 5px 5px 10px 10px;
    font-size: 11px;
    color: #000;
    font-weight: normal;
    padding: 5px;
    border: 1px solid #fff;
}

.mid_left .node:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.mid_left .sticky {
    margin: 5px 5px 10px 10px;
    font-size: 11px;
    color: #000;
    font-weight: normal;
    padding: 5px;
    border: 1px solid #0D77C9;
    background-color: rgba(236, 244, 251, 0.35);
}

.mid_left .sticky:hover {
    background-color: rgba(203, 215, 224, 0.35);
}

.mid_left .node .meta {
    padding: 3px 10px 3px 10px;
    background-color: #d6d6d6;
    margin: 5px 0 5px 0;
}

.mid_left .node .clear-block div.links {
    padding: 3px 10px 3px 10px;
    margin: 0 0 5px 0;
    border: 1px solid #0d77c9;
}

.mid_left .node .meta .terms ul.links a {
    font-size: 10px;
    color: #666;
    text-decoration: none;
}

.mid_left .node .meta .terms ul.links a:hover {
    color: #000;
}

.mid_left .node .links ul.links a {
    font-size: 10px;
    color: #0d77c9;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
}

.mid_left .node .links ul.links a:hover {
    color: #73bdcb;
}

.mid_left h1.titulo {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #005fab;
    margin: 5px 0 10px 5px;
    padding: 0 0 5px 0;
}

.mid_left .node h2 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #005fab;
    border-bottom: 1px dashed #005fab;
    margin: 5px 0 10px 0;
    padding: 0 0 5px 0;
}

.mid_left .node h2 a {
    text-decoration: none;
    color: #005fab;
}

.mid_left .node h2 a:hover {
    text-decoration: none;
    color: #01467d;
}

.mid_left span.submitted {
    font-size: 10px;
    color: #666;
    font-weight: bold;
}

.mid_left .item-list {
    background-color: rgba(255, 255, 255, 0.30);
    margin: 0 5px 0 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mid_left .item-list .pager {
    margin: 5px 10px 5px 10px;
}

.mid_left .item-list .pager li {
    font-size: 14px;
}

.mid_left .item-list .pager li.pager-current {
    font-weight: bold;
    color: #e56100;
}

.mid_left .tab_edit {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
}

.mid_left .tab_edit li {
    list-style: none;
    background-color: #000;
    border: 1px solid #fff;
    display: inline;
    padding: 3px 8px 3px 8px;
    margin: 0 5px 0 0;
}

.mid_left .tab_edit li:hover {
    background-color: #444;
}

.mid_left .tab_edit li a {
    color: #fff;
}

.mid_left .tab_edit li a:hover {
    color: #fff;
    text-decoration: none;
}

/* breadcrumb */
.breadcrumb {
    padding: 5px 0 0 10px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

.breadcrumb a:hover {
    color: #80afd5;
    text-decoration: none;
    font-size: 11px;
}

/* a - enlaces gen�ricos*/
a {
    color: #2353A2;
    text-decoration: none;
}

a:hover {
    color: #122e5c;
    text-decoration: underline;
}

/* comments */
.mid_left div#comments {
    margin: 10px 5px 5px 10px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mid_left div#comments h2.comments {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 5px 10px 5px;
}

.mid_left div#comments div.comment .clear-block {
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
}

.mid_left div#comments div.comment .clear-block h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.mid_left div#comments div.comment .clear-block p {
    font-size: 11px;
    font-weight: normal;
    color: #333;
}

.mid_left div#comments div.comment .links {
    padding: 5px;
    margin: 0 5px 5px 5px;
}

.mid_left div#comments div.comment .links ul li {
    padding: 3px 10px 3px 10px;
    margin: 0;
    background-color: #999;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.mid_left div#comments div.comment .links ul li:hover {
    background-color: #222;
}

.mid_left div#comments div.comment .links ul li a {
    color: #fff;
}

.mid_left div#comments div.comment .links ul li a:hover {
    text-decoration: none;
}

.comment-unpublished {
    background-color: transparent !important;
}

li.collapsed, li.expanded {
    list-style-image: url(img/list_img.png);
}

/* tracker */
.mid_left #tracker {
    margin: 5px 5px 5px 10px;
    padding: 0;
}

.mid_left #tracker table {
    border: none;
}

.mid_left #tracker .sticky-header tr {
    background-color: #F3B31D;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mid_left #tracker .sticky-header thead tr th {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-top: none !important;
}

.mid_left #tracker .sticky-table thead tr {
    background-color: #F3B31D;
    border: 1px solid #fff;
}

.mid_left #tracker .sticky-table thead tr th {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 5px 5px 10px;
    border-bottom: none !important;
}

.mid_left #tracker .item-list {
    margin: 10px 0 0 0;
}

.mid_left #tracker .sticky-table tbody tr {
    background-color: #e7e7e7;
    border-bottom: 1px solid #fff;
    color: #333;
    font-size: 12px;
}

.mid_left #tracker .sticky-table tbody tr.even {
    background-color: #f4f4f4;
}

.mid_left #tracker .sticky-table tbody tr td {
    padding: 5px 0 5px 0;
    text-align: center;
}

.mid_left #tracker .sticky-table tbody tr:hover {
    background-color: #bcbcbc;
}

/* box */
.mid_left .box {
    margin: 10px 5px 5px 10px;
    padding: 5px;
    border: 1px solid #666;
    background-color: #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mid_left .box h2 {
    margin: 5px;
    padding: 0 0 5px 0;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px dashed #333;
}

.mid_left .box .content {
    background-color: #E4E4E4;
    margin: 5px;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.mid_left .box .content form .form-item {
    margin: 5px 0 5px 0;
}

.mid_left .box .content form .description {
    font-weight: normal;
    font-size: 10px;
}

.mid_left .box .content form label {
    font-weight: bold;
    font-size: 12px;
    color: #333;
}

.mid_left .box .content form .form-text {
    font-weight: normal;
    font-size: 10px;
    color: #666;
    border: 1px solid #fff;
    padding: 2px 5px 2px 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
}

.mid_left .box .content form textarea#edit-comment {
    font-weight: normal;
    font-size: 12px;
    color: #666;
    border: 1px solid #fff;
    padding: 2px 5px 2px 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
}

.mid_left .box .content form fieldset {
    border: 1px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mid_left .box .content form fieldset legend {
    font-size: 14px;
    font-weight: bold;
}

.mid_left .box .content form fieldset p a {
    font-size: 12px;
    font-weight: bold;
}

.mid_left .box .content form fieldset.captcha img {
    margin: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.mid_left .box .content form fieldset.captcha .form-item input {
    color: #da3e00;
}

.mid_left .box .content form input.form-submit {
    color: #fff;
    background-color: #666;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.mid_left .box .content form input.form-submit:hover {
    background-color: #F3B31D;
}

/* poll */
.poll .bar .foreground {
    background-color: #ffc600 !important;
}

/* attachments */
.mid_left table#attachments {
    margin: 5px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.mid_left table#attachments thead tr th {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    padding: 5px;
    color: #333;
}

.mid_left table#attachments tbody tr {
    color: #333;
    background-color: #ddd;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.mid_left table#attachments tbody tr td {
    padding: 5px;
}

/* contacto */
form#contact-mail-page {
    margin: 10px 5px 5px 10px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #666;
    font-size: 12px;
    background-color: #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

form#contact-mail-page p {
    font-weight: bold;
    color: #333;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

form#contact-mail-page .form-item {
    margin: 5px 0 5px 0;
}

form#contact-mail-page .form-item textarea {
    font-weight: normal;
    font-size: 12px;
    color: #666;
    border: 1px solid #fff;
    padding: 2px 5px 2px 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
}

form#contact-mail-page .form-item input.form-text {
    font-weight: normal;
    font-size: 12px;
    color: #666;
    border: 1px solid #fff;
    padding: 2px 5px 2px 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
}

form#contact-mail-page fieldset {
    border: 1px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

form#contact-mail-page fieldset legend {
    font-size: 12px;
    font-weight: bold;
}

form#contact-mail-page fieldset.captcha img {
    margin: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

form#contact-mail-page fieldset.captcha .form-item input {
    color: #da3e00;
}

form#contact-mail-page input.form-submit {
    color: #fff;
    background-color: #666;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

form#contact-mail-page input.form-submit:hover {
    background-color: #F3B31D;
}

/**/
.mid_left dl.node-type-list {
    font-size: 12px;
    padding: 10px;
    margin: 5px 5px 5px 10px;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mid_left dl.node-type-list dt {
    margin: 5px 0 3px 0;
}

/**/
.mid_left form#node-form {
    margin: 5px 5px 5px 10px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mid_left form#node-form .node-form {
    background-color: #d6d6d6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}

/**/
.mid_left input.form-submit {
    color: #fff;
    background-color: #666;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.mid_left input.form-submit:hover {
    background-color: #F3B31D;
}

.mid_left form .description {
    font-weight: normal;
    font-size: 10px;
}

/**/
body.cke_show_borders {
    background-image: none;
    background-color: #fff;
}

table.cke_editor iframe {
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}