{% include 'header.html' %}

<script type="text/javascript">
	function validateForm() {
		var fields = document.forms['myform'].elements;
		for(i in fields){
			/* if (fields[i].value == null || fields[i].value == "") {
				alert("Field " + fields[i].name + " must be filled out");
				return false;
			} */
		}
		return true;
	}
</script>
				
				<div id="form" name="form">
				<h3>{{ title }}</h3>
				<p>{{ text }}</p>
				<!-- Download the required images <a href="{{ link }}">here</a>. -->
				<form id="myform" name="myform" action="{{ action }}" method="post" onsubmit="return validateForm();">
					{% csrf_token %} {{ form.as_p }} <input type="submit"
						value="Submit" id="submit" />
				</form>
			</div>
				
{% include 'footer.html' %}