{% extends 'bootstrap.html' %}

{% block headers %}

    <style>
    /* desert scheme ported from vim to google prettify */
    pre.prettyprint { display: block; background-color: #333 }
    pre .nocode { background-color: none; color: #000 }
    pre .str { color: #ffa0a0 } /* string  - pink */
    pre .kwd { color: #f0e68c; font-weight: bold }
    pre .com { color: #87ceeb } /* comment - skyblue */
    pre .typ { color: #98fb98 } /* type    - lightgreen */
    pre .lit { color: #cd5c5c } /* literal - darkred */
    pre .pun { color: #fff }    /* punctuation */
    pre .pln { color: #fff }    /* plaintext */
    pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
    pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
    pre .atv { color: #ffa0a0 } /* attribute value - pink */
    pre .dec { color: #98fb98 } /* decimal         - lightgreen */

    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
    li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
    /* Alternate shading for lines */
    li.L1,li.L3,li.L5,li.L7,li.L9 { }

    @media print {
      pre.prettyprint { background-color: none }
      pre .str, code .str { color: #060 }
      pre .kwd, code .kwd { color: #006; font-weight: bold }
      pre .com, code .com { color: #600; font-style: italic }
      pre .typ, code .typ { color: #404; font-weight: bold }
      pre .lit, code .lit { color: #044 }
      pre .pun, code .pun { color: #440 }
      pre .pln, code .pln { color: #000 }
      pre .tag, code .tag { color: #006; font-weight: bold }
      pre .atn, code .atn { color: #404 }
      pre .atv, code .atv { color: #060 }
}
    </style>
{% endblock %}

{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">API</h1>

        <p>La siguiente APi puede ser accedidida para consultar los datos
            recabados. El Proyecto Simón tiene por cometido brindar los datos de
            forma abierta y en los formatos más utilizados, por lo que la interfaz
            será ampliada con el tiempo. Agradecemos cualquier sugerencia que pueda
            realizar.</p>


        <h2 class="page-header">Resultados de latencia por país</h2>

        <code>/api/latency/&#60;Country Code&#62;/&#60;Versión de IP&#62;/&#60;Año&#62;/&#60;Mes&#62;</code>

        <h3>Parámetros opcionales</h3>
        <table class="table table-hover table-bordered table-condensed">
            <tr>
                <th>Parámetro</th>
                <th>Descripción</th>
                <th>Valor por defecto</th>
            </tr>
            <tr>
                <td>Country Code</td>
                <td>Código ISO del país (2 dígitos), según la <a
                        href="http://en.wikipedia.org/wiki/ISO_3166-1">ISO 3166-1</a>. Se retornarán todos los tests con origen o destino ese país. Por defecto: todos los países.
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Versión de IP</td>
                <td>Puede tomar el valor 4 o 6.</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Año (YYYY)</td>
                <td>Año en formato largo.</td>
                <td>2001</td>
            </tr>
            <tr>
                <td>Mes (MM o M)</td>
                <td>Mes en formato numérico.</td>
                <td>01</td>
            </tr>
        </table>

        <h3>Resultado</h3>

        <p>
            El resultado es un array conteniendo tests, devuelto en formato JSON con los siguientes atributos:
        </p>

        <table class="table table-hover table-bordered table-condensed">
            <tr>
                <td><strong>country_destination (CC)</strong></td>
                <td>Código ISO (2 dígitos) del país de destino de ese test.</td>
            </tr>
            <tr>
                <td><strong>country_origin (CC)</strong></td>
                <td>Código ISO (2 dígitos) del país de origen de ese test.</td>
            </tr>
            <tr>
                <td><strong>date_test (datetime with time zone)</strong></td>
                <td>Fecha con <a href="http://es.wikipedia.org/wiki/Huso_horario">Zona Horaria</a> en que se realizó el test.</td>
            </tr>
            <tr>
                <td><strong>max_rtt (ms)</strong></td>
                <td>Máximo RTT del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>median_rtt (ms)</strong></td>
                <td>Mediana (valor que tiene una mitad de las muestras por encima y la otra mitad por debajo) del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>min_rtt (ms)</strong></td>
                <td>Mínimo RTT del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>ave_rtt (ms)</strong></td>
                <td>RTT promedio del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>dev_rtt (ms)</strong></td>
                <td>Desvición estándar del conjunto de muestras tomadas en ese test.</td>
            </tr>
        </table>

        <h4>Ejemplo</h4>
        <p>
            El siguiente es un ejemplo que consulta por todas las mediciones que involucran a Chile (como origen o destino de mediciones) en lo que va de 2015.

            <code>
                <a href="http://simon.lacnic.net/simon/api/latency/CL/2015">http://simon.lacnic.net/simon/api/latency/CL/2015</a>
            </code>
        </p>

        <pre class="prettyprint">
[
  ...
  {
    "as_destination": 262230,
    "as_origin": 18822,
    "ave_rtt": 30,
    "country_destination": "AR",
    "country_origin": "CL",
    "date_test": "2015-07-16 14:48:00.139995+00:00",
    "dev_rtt": 1,
    "ip_version": "4",
    "max_rtt": 34,
    "median_rtt": 30,
    "min_rtt": 29,
    "tester": "probeapi"
    }
  ...
]</pre>

        <h2 class="page-header">Resultados de latencia por Sistema Autónomo</h2>

        <code>
            api/latency/autnum/&#60;AS Origin&#62;/&#60;AS Destination&#62;
        </code>

        <div class="alert alert-info">
            Todos los parámetros son obligatorios
        </div>

        <h4>Resultado</h4>

        <p>

            El resultado es un array conteniendo tests, devuelto en formato JSON con los siguientes atributos:
        </p>

        <table class="table table-hover table-bordered table-condensed">
            <tr>
                <td><strong>as_destination (ASN)</strong></td>
                <td>Número de Sistema Autónomo de destino de la medición.</td>
            </tr>
            <tr>
                <td><strong>as_origin (ASN)</strong></td>
                <td>Número de Sistema Autónomo que originó la medición.</td>
            </tr>
            <tr>
                <td><strong>date_test (datetime with time zone)</strong></td>
                <td>Fecha con <a href="http://es.wikipedia.org/wiki/Huso_horario">Zona Horaria</a> en que se realizó el test.</td>
            </tr>
            <tr>
                <td><strong>max_rtt (ms)</strong></td>
                <td>Máximo RTT del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>median_rtt (ms)</strong></td>
                <td>Mediana (valor que tiene una mitad de las muestras por encima y la otra mitad por debajo) del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>min_rtt (ms)</strong></td>
                <td>Mínimo RTT del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>ave_rtt (ms)</strong></td>
                <td>RTT promedio del conjunto de muestras tomadas en ese test.</td>
            </tr>
            <tr>
                <td><strong>dev_rtt (ms)</strong></td>
                <td>Desvición estándar del conjunto de muestras tomadas en ese test.</td>
            </tr>
        </table>

        <h4>Ejemplo</h4>
        <p>
            El siguiente es un ejemplo que consulta por todas las mediciones con origen el <a href="https://rdap.lacnic.net/rdap-web/autnum?key=22047" target="_blank">AS 22047</a> y destino el <a href="https://rdap.lacnic.net/rdap-web/autnum?key=28000" target="_blank">AS 28000</a>.

            <code>
                <a href="http://simon.lacnic.net/simon/api/latency/autnum/22047/28000/">http://simon.lacnic.net/simon/api/latency/autnum/22047/28000/</a>
            </code>
        </p>
        <pre class="prettyprint">
[
  ...
  {
    "as_origin": 42708,
    "as_destination": 42708,
    "max_rtt": 445,
    "date_test": "2012-11-05 19:40:19+00:00",
    "median_rtt": 411,
    "min_rtt": 403,
    "ave_rtt": 415,
    "dev_rtt": 10
  }
  ...
]
</pre>
    </div>

{% endblock %}
