{% extends 'bootstrap.html' %}

{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">Artículos</h1>
        
        <p>Esta sección contiene los artículos que consideramos son de
            utilidad para el proyecto. Los artículos pueden abatcar diferentes
            áreas dek proyecto, como las metodologías de recabamiento de datos, las
            técnicas para procesar dichos datos y sacar conclusiones, etc.</p>

        <ul>

            <li><a
                    href="/static/articles/PositionPaper-Alternativestotraditionallatencymeasurementtechniques%20(1).pdf">
                Alternatives to traditional latency measurement techniques</a> (PDF)
            </li>
            <li>Measuring LAC region connectivity (en progreso)</li>
            <li>Determining TCP latency from different browsers and operating systems (en progreso)</li>

        </ul>
    </div>
{% endblock %}
