{% extends 'bootstrap.html' %}
{% load staticfiles %}

{% block headers %}<meta name="description" content="Algunos artículos de interés relacionados con conectividad regional." />{% endblock %}

{% block title %}Articles{% endblock %}

{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">Artículos</h1>
        
        <p>Esta sección contiene los artículos que consideramos son de
            utilidad para el proyecto. Los artículos pueden abatcar diferentes
            áreas dek proyecto, como las metodologías de recabamiento de datos, las
            técnicas para procesar dichos datos y sacar conclusiones, etc.</p>

        <ul>

            <li><a
                    href="{% static 'simon_app/articles/PositionPaper-Alternativestotraditionallatencymeasurementtechniques.pdf' %}">
                Alternatives to traditional latency measurement techniques</a> (PDF)
            </li>
            <li><a href="{% static 'simon_app/articles/Measuring latency from the browser.pdf' %}">Measuring latency from the browser</a> (PDF)</li>
            <li>Measuring LAC region connectivity (en progreso)</li>

        </ul>
    </div>
{% endblock %}
