{% include 'header.html' %}

<h3>Artículos</h3>
<p>Esta sección contiene los artículos que consideramos son de
	utilidad para el proyecto. Los artículos pueden abatcar diferentes
	áreas dek proyecto, como las metodologías de recabamiento de datos, las
	técnicas para procesar dichos datos y sacar conclusiones, etc.</p>

<ul>

	<li><a
		href="/static/articles/PositionPaper-Alternativestotraditionallatencymeasurementtechniques%20(1).pdf">
			Alternatives to traditional latency measurement techniques</a> (PDF)</li>
	<li>Measuring LAC region connectivity (in progress)</li>

</ul>
{% include 'footer.html' %}
