{% extends 'bootstrap.html' %}
{% load staticfiles %}

{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">RIPE Atlas en LAC</h1>

        {#        <p>Esta sección contiene los artículos que consideramos son de#}
        {#            utilidad para el proyecto. Los artículos pueden abatcar diferentes#}
        {#            áreas dek proyecto, como las metodologías de recabamiento de datos, las#}
        {#            técnicas para procesar dichos datos y sacar conclusiones, etc.</p>#}
        {##}
        {#        <h2 class="page-header">Resumen por país</h2>#}
        {#        {% for c in countries %}#}
        {#            {{ c }} {{ countries.c }}#}
        {#        {% endfor %}#}


        <h2 class="page-header">Listado completo de probes en LAC</h2>

        <p>Listado de statuses posibles</p>
        <p>
            <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true" style="color: darkgreen"></span> Connected<br>
            <span class="glyphicon glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: indianred"></span> Disconnected<br>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color: darkgrey"></span> Never Connected<br>
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color: #FF9F1C"></span> Abandoned
        </p>

        <table class="table">
            <th>Probe ID</th>
            <th>País</th>
            <th>ASN (v4) / (v6)</th>
            <th>Último status</th>
            <th>Momento de chequeo</th>

            {% for probe in probes %}
                <tr>
                    <td>
                        {{ probe.probe_id }}
                    </td>
                    <td>
                        {{ probe.country_code }}
                    </td>
                    <td>
                        {{ probe.asn_v4 }} / {{ probe.asn_v6 }}
                    </td>
                    <td>
                        {% if probe.status.status == 'Disconnected' %}
                            <span class="glyphicon glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: indianred"></span>

                        {% elif probe.status.status == 'Connected' %}
                            <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true" style="color: darkgreen"></span>

                        {% elif probe.status.status == 'Abandoned' %}
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color: #FF9F1C"></span>

                        {% elif probe.status.status == 'Never Connected' %}
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color: darkgrey"></span>

                        {% endif %}
                    </td>
                    <td>
                        {{ probe.last_check_date | safe }}
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}
