{% extends 'base.html' %}
{% load staticfiles %}

{% block headers %}

    <meta name="description"
          content="Información acerca de la plataforma RIPE Atlas en la región LAC. Sumate a esta iniciativa!"/>

    <!-- Google Charts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
{% endblock %}

{% block title %}Atlas{% endblock %}

{% block content %}

    <div class="col-lg-12">


        <h1 class="page-header">RIPE Atlas en Latinoamérica y el Caribe</h1>

        <p>
            RIPE Atlas es una de las plataformas de medición de parámetros de red en Internet de mayor despliegue a
            nivel mundial. La misma pone a disposición de sus miembros recursos que permiten realizar mediciones de
            redes. <a
                href="https://www.ripe.net">RIPE NCC</a> es
            el organismo encargado de llevar adelante este enorme proyecto, y cuenta con la colaboración de LACNIC para
            la región de Latinoamérica y Caribe. En el momento la plataforma se encuentra en una etapa de expansión,
            enfocándose
            principalmente en zonas donde la penetración puede ser mejor. Estas zonas donde se está poniendo foco son
            Asia, Latinoamérica y Caribe, y África. Más y mejor información se puede consultar en <a
                href="https://atlas.ripe.net/about/">la página de RIPE Atlas</a>.
        </p>

        <p>Más información de RIPE Atlas en Latinoamérica y Caribe en <a
                href="http://www.lacnic.net/web/lacnic/ripe-atlas">el sitio de LACNIC</a>.</p>


        <h2 class="page-header">Resumen</h2>

        <p>A continuación se muestra un resumen a nivel regional de la presencia de la plataforma RIPE Atlas en la
            región. La barra de colores indica el porcentaje de RIPE Atlas probes que se encuentran <code
                    style="color: #9BC53D">conectadas</code>, <code
                    style="color: #C3423F">desconectadas</code>, <code style="color: #FDE74C">abandonadas</code>, o que
            <code style="color: darkgray">jamás fueron conectadas</code>.</p>

        <div style="display: inline; vertical-align: top;">
            <p><code style="font-size: 3em; color: black">{{ probes | length }}</code> RIPE Atlas probes en la región
                LAC.</p>
        </div>

        <div class="progress">
            <div class="progress-bar" style="width: {{ connected }}; background-image: none; background-color: #9BC53D">
                <span class="sr-only"></span>
            </div>
            <div class="progress-bar"
                 style="width: {{ disconnected }}; background-image: none; background-color: #C3423F">
                <span class="sr-only"></span>
            </div>
            <div class="progress-bar" style="width: {{ abandoned }}; background-image: none; background-color: #FDE74C">
                <span class="sr-only"></span>
            </div>
            <div class="progress-bar" style="width: {{ never }}; background-image: none; background-color: darkgray">
                <span class="sr-only"></span>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-default" style="color: #9BC53D">
                <div class="panel-body">
                    <h3>{{ connected }}</h3>
                    <h4>Conectadas</h4>

                    <p>
                        Son probes que se encuentran conectadas a la red Atlas y forman parte de mediciones!
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default" style="color: #C3423F">
                <div class="panel-body">
                    <h3>{{ disconnected }}</h3>
                    <h4>Desconectadas</h4>

                    <p>
                        Son probes que han estado conectadas alguna vez, pero que no se las ha visto recientemente.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-default" style="color: #FDE74C">
                <div class="panel-body">
                    <h3>{{ abandoned }}</h3>
                    <h4>Han sido abandonadas</h4>

                    <p>
                        Estas son probes que han figurado como desconectadas por un período mayor a dos meses.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default" style="color: darkgray">
                <div class="panel-body">
                    <h3>{{ never }}</h3>
                    <h4>Nunca se han conectado</h4>

                    <p>Estas son probes que si bien fueron distribuidas, nunca han sido vistas desde la plataforma RIPE
                        Atlas.</p>
                </div>
            </div>
        </div>

        <h3 class="page-header">Evolución histórica de las probes</h3>

        <p>La siguiente gráfica es una linea del tiempo que indica la cantidad de chequeos que se han obtenido de probes
            de la región en los últimos dos meses.</p>
        <script type="text/javascript">
            {{ statuses_timeline | safe }}
        </script>
        <div id="statuses_timeline"></div>

        {#    Map#}
        <h3 class="page-header">Mapa regional de la distribución de probes</h3>

        <p>
            Los siguientes mapas muestran la distribución de RIPE Atlas probes en la región. Se puede ver que si bien
            hay países que tiene una buena cantidad de probes (como <a href="#country-detail-BR">Brasil</a>), hay otros
            que tienen una
            cantidad mucho menor, o países que
            inclusive <a href="#countries-without-probes">no tienen probes</a>.
        </p>

        <p>
            Por otra parte surge la pregunta de qué cantidad de probes por país se debería tener. Con qué densidad? Si
            bien no se puede visualizar en el mapa, la distribución de probes no es uniforme en las ciudades o redes
            dentro de un
            país.
            Si sabes que tu ciudad u operador no cuenta con un RIPE Atlas probe, <a target="_blank"
                                                                                    href="https://atlas.ripe.net/apply/?source=87aa7f2c-6cac-459e-8cda-6c192911f5e2">solicita
            el tuya ahora mismo</a>!
        </p>

        <script>
            google.load("visualization", "1", {packages: ["geochart"]});
            google.setOnLoadCallback(drawRegionsMap);

            function drawRegionsMap() {

                var data = google.visualization.arrayToDataTable([
                    ['País', 'Cantidad de RIPE Atlas probes en ese país'],
                    {{ map|safe }}
                ]);

                var options = {
                    region: '029',
                    colorAxis: {
                        colors: ['white', '#FF9900'],
                        maxValue: 10
                    },
                    backgroundColor: {
                        fill: '#FFFAF2'
                    },
                    datalessRegionColor: '#FFFAF2',
                    defaultColor: '#FFFAF2'
                };
                var chart = new google.visualization.GeoChart(document.getElementById('map_caribbean'));
                chart.draw(data, options);

                var chart = new google.visualization.GeoChart(document.getElementById('map_central'));
                options['region'] = '013';
                options['colorAxis']['maxValue'] = 20;
                chart.draw(data, options);

                var chart = new google.visualization.GeoChart(document.getElementById('map_south'));
                options['region'] = '005';
                options['colorAxis']['maxValue'] = 50;
                chart.draw(data, options);
            }
        </script>

        <div class="col-lg-12">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <h4 class="caption">Caribe</h4>

                    <div id="map_caribbean" style="margin-left: auto; margin-right: auto;"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <h4 class="caption">América Central</h4>

                    <div id="map_central" style="margin-left: auto; margin-right: auto;"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <h4 class="caption">América del Sur</h4>

                    <div id="map_south" style="margin-left: auto; margin-right: auto;"></div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2 class="page-header">Listado por país</h2>

                <p>A continuación se muestra una lista con información a nivel de país. De forma similar a los datos
                    regionales,
                    se muestra información acerca de <code style="color: black">cantidad total</code> y porcentaje de
                    probes
                    <code
                            style="color: #9BC53D">conectadas</code>, <code
                            style="color: #C3423F">desconectadas</code>, <code style="color: #FDE74C">abandonadas</code>,
                    y
                    <code style="color: darkgray">jamás conectadas</code>.</p>

                <div id="countries-list">
                    <ul class="list">
                        {% for c, val in counter.items %}

                            <li id="country-detail-{{ c }}">
                                <div class="codigo-pais-atlas">{{ val.country_name }} ({{ c }})

                                    <code style="color: black">{{ val.country_all_count }}</code>
                                    <code style="color: #9BC53D">{{ val.connected_count }}</code>
                                    <code style="color: #C3423F">{{ val.disconnected_count }}</code>
                                    <code style="color: #FDE74C">{{ val.abandoned_count }}</code>
                                    <code style="color: darkgray">{{ val.never_count }}</code>
                                </div>

                                <div class="progress" style="max-height: 3px">
                                    <div class="progress-bar"
                                         style="width: {{ val.connected }}; background-image: none; background-color: #9BC53D">
                                        <span class="sr-only"></span>
                                    </div>
                                    <div class="progress-bar"
                                         style="width: {{ val.disconnected }}; background-image: none; background-color: #C3423F">
                                        <span class="sr-only"></span>
                                    </div>
                                    <div class="progress-bar"
                                         style="width: {{ val.abandoned }}; background-image: none; background-color: #FDE74C">
                                        <span class="sr-only"></span>
                                    </div>
                                    <div class="progress-bar"
                                         style="width: {{ val.never }}; background-image: none; background-color: darkgray">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="center-block">
                        <ul class="pagination"></ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2 id="countries-without-probes" class="page-header">Países sin RIPE Atlas probes</h2>

                <p>El proyecto RIPE Atlas busca expandirse a todos los lugares donde aún no ha llegado. Si tienes una
                    conexión a
                    Internet en alguno de los siguientes paises, no dudes en ponerte en contacto para solicitar un RIPE
                    Atlas
                    probe.
                    Necesitamos pioneros que lleven esta plataforma a lugares donde aún no ha llegado!</p>

                <p>
                    <a type="button" class="btn btn-default" target="_blank"
                       href="https://atlas.ripe.net/apply/?source=87aa7f2c-6cac-459e-8cda-6c192911f5e2">Solicita tu RIPE
                        Atlas
                        probe!</a>
                </p>
                <ul>
                    {% for c in countries_without_probes %}
                        <li>{{ c.printable_name }} ({{ c.iso }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <h2 class="page-header">Listado completo de probes en LAC</h2>


        <p>A continuación se muestra un listado con todos los RIPE Atlas probes que se han detectado en la región de
            Latinoamérica y el Caribe.</p>

        <div class="panel panel-default" style="max-width: 20em">
            <div class="panel-body">
                <p>Referencia de los estados de probes posibles</p>

                <p>
                    <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"
                          style="color: #9BC53D"></span> Connected<br>
                    <span class="glyphicon glyphicon glyphicon-minus-sign" aria-hidden="true"
                          style="color: #C3423F"></span> Disconnected<br>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color: darkgray"></span>
                    Never Connected<br>
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color: #FDE74C"></span>
                    Abandoned
                </p>
            </div>
        </div>

        <div id="probes-list">
            <input class="search form form-control" style="max-width: 20em" placeholder="Buscar por ID, país, o ASN"/>


            <table class="table" style="margin-top: 1em">

                <th>Probe ID</th>
                <th>
                    País
                    <a class="sort" data-sort="pais-atlas">
                        ordenar
                    </a></th>
                <th>ASN (v4) / (v6)</th>
                <th>
                    Último status
                    <a class="sort" data-sort="status-atlas">
                        ordenar
                    </a>
                </th>
                <th>Momento de chequeo</th>

                <tbody class="list">
                {% for probe in probes %}
                    <tr>
                        <td class="id-atlas">
                            <a href="https://atlas.ripe.net/probes/{{ probe.probe_id }}" target="_blank">
                                {{ probe.probe_id }}
                                <span class="glyphicon glyphicon-new-window" style="font-size: .8em"></span>
                            </a>
                        </td>
                        <td class="pais-atlas">
                            {{ probe.country_code }}
                        </td>
                        <td class="asn-atlas">
                            {{ probe.asn_v4 }} / {{ probe.asn_v6 }}
                        </td>
                        <td class="status-atlas">
                            {% if probe.latest_status.status == 'Disconnected' %}
                                <span class="glyphicon glyphicon glyphicon-minus-sign" aria-hidden="true"
                                      style="color: #C3423F"></span>

                            {% elif probe.latest_status.status == 'Connected' %}
                                <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"
                                      style="color: #9BC53D"></span>

                            {% elif probe.latest_status.status == 'Abandoned' %}
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"
                                      style="color: #FDE74C"></span>

                            {% elif probe.latest_status.status == 'Never Connected' %}
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                      style="color: darkgrey"></span>

                            {% endif %}
                        </td>
                        <td>
                            Hace {{ probe.time_since_last_check_pretty_print }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="center-block">
                <ul class="pagination"></ul>
            </div>

        </div>

        {#    Listas y paginación#}
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
        <script src="https://raw.githubusercontent.com/javve/list.pagination.js/v0.1.1/dist/list.pagination.min.js"></script>
        <script type="text/javascript">
            var options = {
                valueNames: ['pais-atlas', 'status-atlas', 'id-atlas', 'asn-atlas'],
                page: 10,
                plugins: [
                    ListPagination({})
                ]
            };

            var hackerList = new List('probes-list', options);
        </script>

        <script type="text/javascript">
            var options = {
                valueNames: ['codigo-pais-atlas'],
                page: 10,
                plugins: [
                    ListPagination({})
                ]
            };

            var hackerList = new List('countries-list', options);
        </script>

    </div>
{% endblock %}
