{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

    <title>{% block title %}Inicio{% endblock %} - Proyecto Simón</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <link rel="stylesheet" type="text/css" href="{% static 'simon_app/css/estilo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simon_app/css/simon.css' %}">
    <link rel='stylesheet' href="{% static 'simon_app/js/nprogress-master/nprogress.css' %}"/>
    <link type="image/x-icon" href="{% static 'simon_app/imgs/logos/favicon.png' %}" rel="shortcut icon">
    <link rel="apple-touch-icon" href="{% static 'simon_app/imgs/logos/apple-touch-icon.png' %}">
    {#    "/simon/static/imgs/logos/apple-touch-icon.png">#}

    <style>
        {% block css %}
        {% endblock %}
    </style>

    <script src="{% static 'simon_app/js/nprogress-master/nprogress.js' %}"></script>
    <script type="text/javascript" src="{% static 'simon_app/js/jquery1.8.0.js' %}"></script>

    <script type="text/javascript" src="{% static 'simon_app/js/dateFormatter.js' %}"></script>
    <script type="text/javascript" src="https://cloud.github.com/downloads/jaubourg/jquery-jsonp/jquery.jsonp-2.3.1.js"></script>

    {% block headers %}{% endblock %}

    <script type="text/javascript">

        {% block javascript %}
        {% endblock %}
    </script>


</head>

<body>
<div class="Header"
     style="background-color: #FF9900; border-bottom: blue; border-width: 5px">

    <div class="ipver"
         style="position: absolute; margin: 0px 0px 0px 400px">
        <div class="msg">
            <p style="padding: 0px">
                <span>Mediciones: Última hora:</span> {{ HOURLY }} <span>Último
						día:</span> {{ DAILY }} <span>Última semana: </span>{{ WEEKLY }}
            </p>
        </div>
    </div>

    <table style="width: 100%">
        <th></th>
        <th></th>
        <th></th>
        <tr>
            <td><a href="http://www.labs.lacnic.net" title="LACNIC labs">
                <img src="{% static 'simon_app/imgs/logos/logo_labs.png' %}" width="229"
                     height="86" border="0"/>
            </a></td>
            <td><a href="{{ URL_PFX }}/"><img
                    style="float: right; margin: 10px 25px;"
                    src="{% static 'simon_app/imgs/simon-icon.png' %}" height="75px"></a></td>
        </tr>
    </table>


</div>
<div class="Container">


    <div class="contenido">{% block content %}{% endblock %}</div>


</div>
<div class="Footer">
    <div class="foot_content">
        <div class="foot_labs">
            <a href="http://www.labs.lacnic.net/">
                <img src="{% static 'simon_app/imgs/logos/logo_labs_foot.png' %}" width="170" height="64" border="0" title="LACNIC labs"/>
            </a>
        </div>

        <div class="foot_app_detail"
             style="font-size: 9px; text-align: right;">
            Application Version: {{ APP_VERSION }}<br/> Last Updated {{ DATE_UPDATED }}
        </div>
    </div>
</div>


<!-- SIMON script async loading -->
<script type="application/javascript">

    (function (d, s) {
        var js = d.createElement(s),
                sc = d.getElementsByTagName(s)[0];

        js.src = "http://simon.lacnic.net/simon/static/simon_app/js/simon_probe_plugin.js";
        js.type = "text/javascript";
        sc.parentNode.insertBefore(js, sc);

        js.onload = js.onreadystatechange = function () {
            SIMON.init();
        };

    }(document, "script"));

</script>

<!-- 		Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script',
            '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-33695965-2', 'lacnic.net');
    ga('send', 'pageview');
</script>

</body>
</html>