 {% include 'header.html' %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Reports - Charts</title>
<!-- J Query -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<!-- Spinner -->
<script type="text/javascript"
	src="/static/js/spin.js"></script>


<!-- Heat Map -->
<!-- <link type="text/css" rel="stylesheet" href="ex.css?3.2" /> -->
<script type="text/javascript"
	src="/static/js/mbostock-protovis-1a61bac/protovis.js"></script>


<!-- Google Charts -->
<script type='text/javascript' src='https://www.google.com/jsapi'></script>

<script type='text/javascript'>
/*
 * Google Charts data
 */
	google.load('visualization', '1', {
		'packages' : [ 'geochart', 'corechart' ]
	});
	
	google.setOnLoadCallback(drawAllCharts);
	function drawAllCharts(){
		initRegionDistributionChart();
		allCountriesThroughputChart();
	}
	
	var base_url = window.location.host;
	var regionDistributionChartURL = "http://" + base_url + "{{URL_PFX}}/region_throughput_chart";
	var allCountriesThroughputChartURL = "http://" + base_url + "{{URL_PFX}}/throughput_by_country_chart";
	
	function initRegionDistributionChart(){
		var target = document.getElementById('bandwidth_distribution_div');// spinner container
		
		function draw(){
			var spinner = new Spinner(opts).spin(target);
		    google.visualization.events.addListener(chart, 'ready',
		          function() {
		    	  	spinner.stop();
		          });

			$.ajax({
				  url: regionDistributionChartURL,
				  dataType : "json",
				  success : function(bandwidth_distribution, textStatus, jqXHR){
					  var options = {
							  title: 'Distribución de ancho de banda en la región',
					          hAxis: {title: 'Ancho de Banda (Mbps)', maxTextLines : 1, showTextEvery : 1},
					          vAxis: {title: 'Cantidad (%)', maxTextLines : 1, showTextEvery : 1},
					          curveType : 'function',
					        };
					  var data = new google.visualization.DataTable(bandwidth_distribution.table, 0.6);
					  chart.draw(data, options);
				  }
			  });
		}
		var chart = new google.visualization.LineChart(document.getElementById('bandwidth_distribution_div'));
		draw();
	}
	
	function allCountriesThroughputChart(){
		var target = document.getElementById('country_column_chart_div');// spinner container
		
		function draw(){
			var spinner = new Spinner(opts).spin(target);
		    google.visualization.events.addListener(chart, 'ready',
		          function() {
		    	  	spinner.stop();
		          });

			$.ajax({
				  url: allCountriesThroughputChartURL,
				  dataType : "json",
				  success : function(distribution, textStatus, jqXHR){
					  var options = {
							  title: 'Ancho de banda para cada país',
					          hAxis: {title: 'País', maxTextLines : 1, showTextEvery : 2},
					          vAxis: {title: 'Ancho de banda (Mbps)', maxTextLines : 1, showTextEvery : 1}
					        };
					  var data = new google.visualization.DataTable(distribution.table, 0.6);
					  chart.draw(data, options)
				  }
			  });
		}
		var chart = new google.visualization.ColumnChart(document.getElementById('country_column_chart_div'));
		draw();
	}
</script>

<h2>Gráficas de los resultados de las mediciones de Ancho de Banda</h2>
<p>Las siguientes gráficas hacen más accesible procesar toda la
	información obtenida de las mediciones. Es el resultado de la
	colaboración de la comunidad que impulsa al Proyecto Simón, tanto con
	el aporte de puntos de testing como de la realización de los tests.</p>

<div class="chartdiv">
	<h3>Distribución del ancho de banda en la región</h3>
	<p>El eje horizontal representa el ancho de banda, y el eje vertical el porcentaje de mediciones.</p>
	<div align="center" id="bandwidth_distribution_div"
		class="barchart border"></div>
</div>
<div class="chartdiv">
		
	<h3>Ancho de banda para cada país</h3>	
	<p>El eje horizontal representa el país , y el eje vertical el ancho de banda correspondiente en Mbps.</p>
	<div align="center" id="country_column_chart_div"
		class="barchart border"></div>
</div>

{% include 'footer.html' %}
