<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/estilo.css">
<link rel="stylesheet" type="text/css" href="/static/css/simon.css">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<link type="image/x-icon"
	href="http://www.labs.lacnic.net/site/themes/newlabs/xtras/favicon.png"
	rel="shortcut icon">
<title>Proyecto Simón</title>
<script type="text/javascript">
	var simonURL = "{{ SIMON_URL }}" + "/";
	var ipv6ResolveURL = "{{ v6_URL }}";
	var ipv4ResolveURL = "{{ v4_URL }}";
</script>
</head>

<body>
	<div class="Container">
		<div class="Header">
			<a href="http://www.labs.lacnic.net" title="LACNIC labs"> <img
				src="http://www.labs.lacnic.net/drupal/themes/newlabs/xtras/logo_labs.png"
				width="229" height="86" border="0" />
			</a> <a id="lg-link-header" href="{{URL_PFX}}/"></a>
		</div>

		<div class="contenido">