{% extends 'base.html' %}

{% block javascript %}

<!-- Twitter Widget -->
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

$(document).ready(function() {

	SIMON.init();
});
{% endblock %}

{% block css %}
#logo {
	font-weight: 100;
	font-size: 42px;
}
{% endblock %}

{% block content %}
<h1 id="logo">
	<font color="orange">Proyecto</font> Simón
</h1>

<h3 style="font-size: 1em">Mapa de interconexión entre redes de
	América Latina y Caribe a través de mediciones de latencia.</h3>

<p>El mapa de interconexión entre redes de América Latina y Caribe
	se nutre de mediciones de latencia realizadas desde diversos medidores.
	Al momento existen dos medidores: un Applet de Java que realiza
	mediciones NTP, y un script en Javascript que las realiza mediciones
	TCP (a través de HTTP).</p>

<a href="{{ URL_PFX }}/objectives">

	<div class="homeBox">
		<img class="logo" src="/static/imgs/logos/objectives.png" width="70px">
		<h1>Objetivos</h1>
		<p>El proyecto Simón tiene el objetivo de determinar la
			interconexión entre diferentes redes de América Latina y el Caribe a
			través de mediciones de latencia entre distintos puntos.</p>
	</div>
</a>

<a href="{{ URL_PFX }}/participate">
	<div id="graph-01-container" class="homeBox">
		<img class="logo" src="/static/imgs/logos/participate.png"
			width="70px">
		<h1>¿Cómo Participar?</h1>
		<p>Existen varias formas de participar de manera simple en el
			Proyecto Simón, enterate como aquí.</p>
	</div>
</a>

<a href="{{ URL_PFX }}/reports">
	<div class="homeBox">
		<img class="logo" src="/static/imgs/logos/reports.png" width="70px">
		<img class="banner" src="/static/imgs/logos/updates.png" width="70px">
		<h1>Reportes por país</h1>
		<p>Analiza los reportes de latencia y ancho de banda que hemos
			preparado a partir de la informacion recolectada por cientos de
			usuarios, desde distintos puntos de la region.</p>
	</div>
</a>

<div class="homeBox" style="box-shadow: 0 0 0 0; height: 330px; margin-bottom: -160px; margin-top: 10px">
<!-- 	<img class="logo" src="/static/imgs/logos/twitter-logo.png" width="70px" style="position: absolute;"> -->
<!-- 	<img src="/static/imgs/logos/twitter.png" style="margin: -15px; margin-top: -30px"> -->
	<a class="twitter-timeline" href="https://twitter.com/proyectosimon" data-widget-id="507899035131199488" data-chrome="nofooter noheader">
		Tweets por @proyectosimon
	</a>
</div>

<a href="{{ URL_PFX }}/charts">
	<div class="homeBox">
		<img class="logo" src="/static/imgs/logos/charts.png" width="70px">
		<img class="banner" src="/static/imgs/logos/updates.png" width="70px">
		<h1>Gráficas de la región</h1>
		<p>Si quieres observar los datos con más claridad, puedes
			consultar algunas gráficas de latencia que muestran informacián
			acerca de la calidad de Internet en toda la region.</p>
	</div>
</a>

<div class="homeBox" style="visibility: hidden;"></div>

<a href="{{ URL_PFX }}/api">
	<div class="homeBox">
		<img class="logo" src="/static/imgs/logos/api.png" width="70px">
		<h1>API</h1>
		<p>Si deseas consumir los datos a través de interfaces estandar,
			consulta nuestra API.</p>
	</div>
</a>

<a href="{{URL_PFX}}/traceroute">
	<div class="homeBox">
		<img class="logo" src="/static/imgs/logos/traceroute.png" width="70px">
		<h1>Traceroute</h1>
		<p>En esta sección recibimos archivos con información de
			traceroute. Esta información es recopilada junto con las demás
			fuentes de información para determinar la interconectividad.</p>
	</div>
</a>

<a href="{{ URL_PFX }}/articles">
	<div class="homeBox">
		<img class="logo" src="/static/imgs/logos/articles.png" width="70px">
		<img class="banner" src="/static/imgs/logos/new.png" width="70px">
		<h1>Artículos</h1>
		<p>Aquí residen algunos artículos, en fase de desarrollo, que
			exponen nuestro punto de vista en cuanto a los aspectos técnicos
			detrás de estas mediciones.</p>
	</div>
</a>

<a href="{{ URL_PFX }}/lab">
	<div class="homeBox">
		<img class="logo" src="/static/imgs/logos/lab.png" width="70px">
		<h1>Latency Lab</h1>
		<p>Este espacio está dedicado a explorar el medidor JavaScript.
			Desde aquí se pueden realizar pruebas de latencia TCP hacia una
			dirección IP en particular, a través de IPv4 o IPv6.</p>
	</div>
</a>

<h1>Consola</h1>
<p>[IP] - [latencia] - (promedio)</p>
<div id="console" class="homeBox"
	style="padding-bottom: 10px; padding-left: 10px; width: 910px; height: 150px;">
</div>
<p>
	Queres hacer ping a un sitio en particular? Te recomendamos la sección
	<a href="{{ URL_PFX }}/lab">latency lab</a>...allí puedes ver un
	histograma en tiempo real acerca de las mediciones realizadas.
</p>


{% endblock %}
