{% extends 'bootstrap.html' %}
{% load staticfiles %}

{% block javascript %}

    <!-- Twitter Widget -->
    !function(d,s,id){var
    js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

{% endblock %}

{% block css %}
    #logo {
    font-weight: 100;
    font-size: 42px;
    }
{% endblock %}

{% block headers %}



{% endblock %}

{% block header %}
    <div class="jumbotron" style="background-color: #FFFDFA; margin-top: 1em;">
        <h1 style="font-family: 'HelveticaNeue-Light'">
            <font color="orange">Proyecto</font> Simón
        </h1>

        <h3>Mapa de interconexión entre redes de
            América Latina y Caribe a través de mediciones de latencia.</h3>

        <p>El mapa de interconexión entre redes de LAC
            se elabora gracias a la colaboración de la comunidad de entusiastas de Internet, y se nutre de mediciones de latencia realizadas desde los medidores <code>java (ntp)</code>, <code>traceroute (icmp)</code>, y <code>javascript
                (http)</code>.
        </p>
    </div>
{% endblock %}

{% block content %}

    <div class="col-lg-6">

        <div class="homeBox">
            <a href="{{ URL_PFX }}{% url 'simon_app.views.objectives' %}">
                <h2>Objetivos</h2>
            </a>

            <p>El proyecto Simón tiene el objetivo de determinar la
                interconexión entre diferentes redes de América Latina y el Caribe a
                través de mediciones de latencia entre distintos puntos.</p>
        </div>

        <div class="homeBox">
            {% url 'simon_app.views.traceroute' as url_tr %}
            {% url 'simon_app.views.participate' as url_pr %}
            <a href="{{ url_pr }}">
                <h2>¿Cómo Participar?</h2></a>

            <p>
            <ul>
                <li>Corriendo el medidor de <a href="{{ url_tr }}"><code>traceroute</code></a></li>
                <li>Alojando el medidor <code>javascript</code> en tu sitio</li>
                <li>Alojando un <a href="https://atlas.ripe.net/apply/?source=87aa7f2c-6cac-459e-8cda-6c192911f5e2" target="_blank"><code>RIPE Atlas probe <span class="glyphicon glyphicon-new-window"></span></code></a> en tu país</li>
            </ul>
            </p>

            <p>Para ver más formas de participar de manera simple en el
                Proyecto Simón, enterate como <a href="{{ url_pr }}">en esta sección</a>.</p>
        </div>

        <div class="homeBox">
            <a href="{{ URL_PFX }}{% url 'simon_app.views.reports' %}">
                <h2>Reportes por país</h2></a>

            <p>Analiza los reportes de latencia y ancho de banda que hemos
                preparado a partir de la informacion recolectada por cientos de
                usuarios, desde distintos puntos de la region.</p>
        </div>

        <div class="hidden-xs hidden-sm">
            <a class="twitter-timeline" href="https://twitter.com/proyectosimon" data-widget-id="507899035131199488" data-chrome="nofooter noheader">
                Tweets por @proyectosimon
            </a>
        </div>

    </div>
    <div class="col-lg-6">

        <div class="homeBox">
            <a href="{{ URL_PFX }}{% url 'simon_app.views.charts_reports' %}">
                <h2>Gráficas de la región</h2></a>

            <p>Si quieres observar los datos con más claridad, puedes
                consultar algunas gráficas de latencia que muestran informacián
                acerca de la calidad de Internet en toda la region.</p>
        </div>

        <div class="homeBox">
            <a href="{{ URL_PFX }}{% url 'simon_app.views.api' %}">

                <h2>API</h2></a>

            <p>Si deseas consumir los datos a través de interfaces estandar,
                consulta nuestra API.</p>
        </div>

        <div class="homeBox">
            <a href="{{ URL_PFX }}{% url 'simon_app.views.traceroute' %}">
                <h2>Traceroute</h2></a>

            <p>En esta sección recibimos archivos con información de
                traceroute. Esta información es recopilada junto con las demás
                fuentes de información para determinar la interconectividad.</p>
        </div>

        <div class="homeBox">
            <a href="{{ URL_PFX }}{% url 'simon_app.views.articles' %}">
                <h2>Artículos</h2></a>

            <p>Aquí residen algunos artículos, en fase de desarrollo, que
                exponen nuestro punto de vista en cuanto a los aspectos técnicos
                detrás de estas mediciones.</p>
        </div>

        <div class="homeBox">
            <a href="{{ URL_PFX }}{% url 'simon_app.views.lab' %}">
                <h2>Latency Lab</h2></a>

            <p>Este espacio está dedicado a explorar el medidor JavaScript.
                Desde aquí se pueden realizar pruebas de latencia TCP hacia una
                dirección IP en particular, a través de IPv4 o IPv6.</p>
        </div>
    </div>




    <div class="col-lg-12">
        <h2>Consola</h2>

        <div id="console" class="console">
        </div>
        <p>
            Queres hacer ping a un sitio en particular? Te recomendamos la sección
            <a href="{% url 'simon_app.views.lab' %}">latency lab</a>...allí puedes ver un
            histograma en tiempo real acerca de las mediciones realizadas.
        </p>
    </div>

    <script type="application/javascript">
        /*
         Trigger the SIMON object by adding an event listener

         */
        window.addEventListener("load", function () {
            SIMON.init()
        });
    </script>

{% endblock %}