{% extends 'base.html' %}

{% block headers %}
    <script src="https://cdn.dev.lacnic.net/highcharts.js" xmlns="http://www.w3.org/1999/html"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://cdn.dev.lacnic.net/d3.v4.js"></script>
{% endblock %}

{% block afterbody %}

    <script type="application/javascript">
        var results = [];
        var chart = redrawChart([0]);

        function redrawChart(rtts) {

            n = rtts.length;
            var num_categories = Math.sqrt(n);
            let min = _.min(rtts);
            let max = _.max(rtts);
            var histGenerator = d3.histogram()
                .domain([min, max])    // Set the domain to cover the entire intervall [0;]
                .thresholds(num_categories + 1);
            var hist = histGenerator(rtts);

            var categories = [];
            var data = []
            for (var h in hist) {
                data.push(hist[h].length);
                categories.push(_.mean(hist[h]).toFixed(1));
            }

            return new Highcharts.Chart(
                'container',
                {
                    chart: {
                        renderTo: 'container',
                        type: 'column',
                        backgroundColor: 'rgba(255, 255, 255, 0.1)',
                        animation: false
                    },
                    plotOptions: {
                        column: {
                            shadow: false,
                            borderWidth: .5,
                            borderColor: '#666',
                            pointPadding: 0,
                            groupPadding: 0,
                            color: 'rgba(204,204,204,.85)'
                        }
                    },
                    title: {
                        text: 'Distribución'
                    },
                    xAxis: {
                        categories: categories
                    },
                    yAxis: {
                        title: {
                            text: 'Densidad'
                        }
                    },
                    series: [
                        {
                            name: 'Latencia ' + '(categorías de ' + Math.floor((max - min) / num_categories) + ' ms)',
                            data: data
                        }
                    ]
                }
            );

        };

        function start() {

            ip = $("#textfield").val();
            SIMON.params.numTests = $("#probes").val();

            var testPoint = {
                "ip": ip,
                "url": "",
                "country": "",
                "countryName": "",
                "city": "",
                "region": "",
                "results": [],
                "throughputResults": [],
                "online": false,
                "onlineFinished": false
            };
            SIMON.points = [testPoint];

            SIMON.init();
        }

        setTimeout(function () {

            SIMON.params.numTests = 100;
            SIMON.params.post = false;
            SIMON.params.print = false;
            SIMON.params.console = 'console';

            SIMON.after_each = function (rtt) {
                results.push(parseFloat(rtt));
                redrawChart(results);
            };

            SIMON.after_points = function () {

            };

            document.getElementsByTagName("button")[0].disabled = false;

        }, 5000);
    </script>
{% endblock %}


{% block title %}Lab{% endblock %}

{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">Latency Lab</h1>

        <p>
            Este espacio permite la exploración del medidor JavaScript. Para
            iniciar una prueba, digite un sitio web o una dirección IP y oprima el botón de <i>Iniciar</i>.
        </p>

        <p>Debajo se muestra una gráfica que va mostrando la distribución
            de los resultados obtenidos, y una consola que imprime los valores de
            RTT percibidos en cada test. Bien comiencen las pruebas, la
            distribución comenzará a variar, pero una vez transcurrido un
            intervalo de tiempo la misma deberá estabilizarse y comenzar a
            aproximarse a su forma para N &#8594; inf.</p>


        <p>
            <b>Sitio web / dirección IP (v4 o v6)</b>
            <br/>
            <input type="text" id="textfield" autofocus="autofocus" placeholder=""
                   style="width: 30em"/>

            <br/>
            <br/>
            <b>Muestras</b>
            <br/>
            <input type="text" id="probes" value="100"/>

            <button class="btn btn-default" onclick="start()" disabled>
                Iniciar
            </button>

        <div id="container" style="margin-top: 1em; height: 20em;"></div>
        </p>
    </div>

{% endblock %}
