{% extends 'base.html' %}

{% block headers %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% endblock %}

<script type="application/javascript">
    var CATEGORIES = 30;
    var MIN = 0;
    var MAX = 900;
    var data = [];
    var ip = "";

    function updateChart(rtt) {
        var i = Math.floor((rtt - MIN) / (MAX / CATEGORIES));
        var viejo = $('#container').highcharts().series[0].data[i]['y'];
        $('#container').highcharts().series[0].data[i].update(++viejo);

        $('#container').highcharts().setTitle({text: SIMON.summary(SIMON.quartiles.filter(SIMON.getNumericalValues(SIMON.points[0].results)))});
    }

    $(document).ready(function () {
        SIMON.params = {
            numTests: 100,
            post: true,
            print: true,
            console: 'console'
        };

        SIMON.before_start = function () {
            ip = $("#textfield").val();
        };

        SIMON.after_each = function (rtt) {
            updateChart(rtt);
            data.push(rtt);
        };

        SIMON.after_points = function () {
            var testPoint = {
                "ip": $("#textfield").val(),
                "url": "",
                "country": "",
                "countryName": "",
                "city": "",
                "region": "",
                "results": [],
                "throughputResults": [],
                "online": false,
                "onlineFinished": false
            };
            SIMON.points = [testPoint];
        };


        /*
         Generate data and categories arrays first
         */
        var categories = [];
        var radio = (MAX - MIN) / (2 * CATEGORIES);
        for (var i = MIN; i < MAX; i = i + 2 * radio) {
            categories.push('~' + (i + radio));// + '±' + (radio));
            data.push(0);
        }

        var chart = new Highcharts.Chart(
                {#        $('#container').highcharts(#}
                {
                    chart: {
                        renderTo: 'container',
                        type: 'column',
                        backgroundColor: 'rgba(255, 255, 255, 0.1)',
                        animation: false
                    },
                    plotOptions: {
                        column: {
                            shadow: false,
                            borderWidth: .5,
                            borderColor: '#666',
                            pointPadding: 0,
                            groupPadding: 0,
                            color: 'rgba(204,204,204,.85)'
                        }
                    },
                    title: {
                        text: 'Distribución'
                    },
                    xAxis: {
                        categories: categories
                    },
                    yAxis: {
                        title: {
                            text: 'Densidad'
                        }
                    },
                    series: [
                        {
                            name: 'Latencia ' + '(categorías de '
                                    + ((MAX - MIN) / CATEGORIES) + ' ms)',
                            data: data
                        }
                    ]
                });
    });
</script>

{% block title %}Lab{% endblock %}

{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">Latency Lab</h1>

        <p>
            Este espacio permite la exploración del medidor JavaScript. Para
            iniciar una prueba, digite una dirección IP y oprima el botón de <i>Iniciar</i>.
        </p>

        <p>Debajo se muestra una gráfica que va mostrando la distribución
            de los resultados obtenidos, y una consola que imprime los valores de
            RTT percibidos en cada test. Bien comiencen las pruebas, la
            distribución comenzará a variar, pero una vez transcurrido un
            intervalo de tiempo la misma deberá estabilizarse y comenzar a
            aproximarse a su forma para N --> inf.</p>

        <form class="navbar-form">
            <input type="text" id="textfield" autofocus="autofocus" placeholder="Dirección IP (v4 o v6)" style="width: 30em"/>

            <button class="btn btn-default" onclick="SIMON.init()">
                Iniciar
            </button>
        </form>


        <div id="container" style="margin-top: 1em;"></div>
        {#        <div id="" class="console" style="margin-bottom: 1em;"></div>#}
    </div>

{% endblock %}
