<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {{ res.object_list }}<br />

<div class="pagination">
    <span class="step-links">
        {% if res.has_previous %}
            <a href="?page={{ res.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ res.number }} of {{ res.paginator.num_pages }}.
        </span>

        {% if res.has_next %}
            <a href="?page={{ res.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</body>
</html>