{% extends 'bootstrap.html' %}

{% block headers %}
    <!-- Google Charts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header">Reportes</h1>

        <p>En esta sección se muestran los datos de latencia por país y
            año. Los histogramas pueden presentar uno o varios picos. Para
            aquellos histogramas que presentan un sólo pico, no hay mayores
            conclusiones que sacar: la media de la latencia de la conexión entre
            esos dos países la media del histograma. Pero para aquellos
            histogramas que presentan más de un pico, se puede decir que los
            paquetes viajaron en diferentes tiempos, y muy probablemente haya sido
            por rutas diferentes. Uno de los propósitos de este proyecto es
            identificar esas rutas entre pares de países y dar información acerca
            del impacto que el enrutamiento sub-óptimo causa en sistemas que usan
            Internet y en el usuario final</p>

        <p>
            Las muestras consideradas en estos reportes fueron obtenidas por <a href="{% url 'simon_app.views.participate' %}">la
            contribución de cientos de usuarios</a> en cada uno de los países.
        </p>


        <h2 class="page-header">Medidor: Javascript</h2>
        <script type="text/javascript">
            {{ latency_histogram_js | safe }}
        </script>
        <div id="latency_histogram_js"></div>


        <h2 class="page-header">Medidor: Applet</h2>
        <script type="text/javascript">
            {{ latency_histogram_applet | safe }}
        </script>
        <div id="latency_histogram_applet"></div>


        <form class="navbar-form" id="country_form" action="{% url 'simon_app.views.reports' %}" method="post">
            {% csrf_token %} {{ form.as_p }} <input type="submit" value="Submit" id="submit" class="btn btn-default navbar-btn"/>
        </form>

    </div>

{% endblock %}