{% extends 'bootstrap.html' %}

{% block headers %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['gauge']}]}"></script>
{% endblock %}

{% block title %}
    Speed checker
{% endblock %}
{% block content %}

    <div class="col-lg-12">
        <h1 class="page-header">
            Medidor de throughput
        </h1>

        <div class="col-lg-4">

{#            Google Gauge#}
            <div id="chart_div" class="center-block" style="width: 200px; height: 200px;">

            </div>

{#            Progress bar#}
            <div id="progress-bar" class="progress center-block" style="width: 60%; height: 5px">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>

{#            Thanks message#}
            <div class="alert alert-success" role="alert">
                <h4>Gracias!</h4>
            </div>
        </div>


        <div class="col-lg-8">
            <h2>
                Acerca del medidor
            </h2>

            <p>
                Este medidor funciona descargando archivo de servidores del Proyecto Simón. Es importante que los archivos se encuentren en infraestructura neutral de forma de que las mediciones reflejen el verdadero throughput del usuario
                hacia la Internet regional. Las mediciones típicas de ancho de banda se realizan entre el usuario y un servidor alojado dentro su propio proveedor, factor que sobre-estima el verdadero throughput percibido por la aplicación.
            </p>

            <p>
                Realizar mediciones de throughput a nivel JavaScript no es trivial, ya que este tipo de mediciones están expuestas a muchas variantes.
            </p>
        </div>
    </div>

    <!-- SIMON script async loading -->
    <script type="application/javascript">

        (function (d, s) {
            var js = d.createElement(s),
                    sc = d.getElementsByTagName(s)[0];

            js.src = "http://simon.lacnic.net/simon/static/simon_app/js/simon_throughput_plugin.js";
            js.type = "text/javascript";
            sc.parentNode.insertBefore(js, sc);

            js.onload = js.onreadystatechange = function () {

            };

        }(document, "script"));

        var chart, data;

        google.setOnLoadCallback(drawChart);

        function updateChart() {

        }
        ;

        function drawChart() {

            SIMON.thputCount = 15;
{#            $('#progress-bar').hide();#}

            data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Throughput', 0]
            ]);

            var options = {
                width: 200, height: 200,
                redFrom: 0, redTo: 5,
                yellowFrom: 5, yellowTo: 20,
                greenFrom: 20, greenTo: 50,
                minorTicks: 5,
                min: 0, max: 30,
                greenColor: '#508484',
                yellowColor: "#79C99E",
                redColor: "#97DB4F"
            };

            chart = new google.visualization.Gauge(document.getElementById('chart_div'));

            setInterval(function () {

                thputs = SIMON.quartiles.filter(SIMON.thput);
                var sum = 0;
                for (t in thputs) {
                    sum += thputs[t];
                }
                avg = Math.floor(sum / thputs.length);
                data.setValue(0, 1, Number((avg / 1000000).toFixed(2)));
                options.max = Math.floor((SIMON.getMax(thputs) / 1000000) * 1.80);
                chart.draw(data, options);

                var increment = 100 / SIMON.thputCount;
                $('#progress-bar').css('width', SIMON.thput.length*increment+'%').attr('aria-valuenow', SIMON.thput.length*increment);


{#                SIMON.log(SIMON.thputCount + " | " + SIMON.thput.length);#}
                /*
                End of thput tests
                 */
                if(SIMON.thputCount == SIMON.thput.length){
{#                    $('#progress-bar').show();#}
                }
            }, 1000);
        }


    </script>

{% endblock %}