{% extends 'base.html' %}

{% block title %}Traceroutes{% endblock %}

{% block content %}

    <div class="col-lg-12">

        <h1 class="page-header">Colabora con tu traceroute!</h1>

        <p>Una forma muy útil de monitorear el trayecto de los paquetes en
            la red es el programa traceroute. Esta página recopila archivos con
            logs de traceroute. Colabora de forma sencilla con tu traceroute copiando y pegando el siguiente comando en tu consola:</p>

        <div id="" class="console" style="font-size: 1.4em; padding-top: 3em">
            curl -fsSL http://simon.lacnic.net/simon/static/simon_app/traceroute.sh | bash
        </div>

        <h2 class="page-header">Agendar crontab</h2>

        <p>Para agendar mediciones a cada hora, a trvés de crontab, copia y pega el siguiente script en tu consola:</p>

        <div id="" class="console" style="font-size: 1.4em; padding-top: 3em">
            (crontab -l ; echo "0 * * * * curl -fsSL http://simon.lacnic.net/simon/static/simon_app/traceroute.sh") | crontab -
        </div>

        <h1>Últimos traceroutes recibidos</h1>

        <div id="tracerouteList">
            <table>
                {% for t in  traceroutes %}
                    <tr>
                        <td>
                            {{ t.pretty_print }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {#    <h1>Traceroute viejos? También sirven</h1>#}
    {##}
    {#<form method="post" enctype="multipart/form-data">#}
    {#	{% csrf_token %}#}
    {#	{{ form.as_p }}#}
    {#	<input type="submit" value="Enviar" id="submit" />#}
    {#</form>#}

{% endblock %}