<div id="{{ divId }}" style="font-family: 'Helvetica'; color: grey; min-height: 10em; margin: auto; text-align: center"
     class="center-block">
    <div>
        <progress id="progress-{{ divId }}" value="0" max="100"></progress>
    </div>
    <div id="console-{{ divId }}" style="text-align: center; font-size: .75em"></div>
</div>

<script async src="https://www.google.com/jsapi" type="text/javascript"></script>

<script async type="application/javascript">

    LOGGER = {
        enabled: true,
        debug: true,
        log: function (txt) {
            if (!LOGGER.debug) {
                console.log(txt);
            }
            document.getElementById("console-{{ divId }}").innerText = txt;
        },
        messages: {
            /*
            Messages to be displayed in the LOGGER console
            */
            error: "Ups, something went wrong.",
            charts_service_down: "Looks like the charts service is down :(",
            charts_service_sending_data: "Sending data to charts service...",
            charts_service_chart_received: "Async chart received..."
        }
    };

    loadExternalScript = function (url, callback) {

        d = document;
        s = "script";

        var js = d.createElement(s),
                sc = d.getElementsByTagName(s)[0];

        js.src = url;
        js.type = "text/javascript";
        sc.parentNode.insertBefore(js, sc);
        js.onload = js.onreadystatechange = function () {

            /*
             callback receives no params at all
             */
            callback();
        };
    };

    function loadAsyncChart(d, s, divId, data, labels, colors, kind, xAxis, my_options) {

        d.getElementById("progress-{{ divId }}").value = "10"

        var payload = {
            "data": data,
            "divId": divId,
            "labels": labels,
            "colors": colors,
            "kind": kind,
            "xAxis": xAxis,
            "my_options": my_options
        };

        var uri = "";
        if (kind != "ColumnChart") {
            uri = "/code";
        } else {
            uri = "/hist/code";
        }

        var onSuccess = function (code) {
            LOGGER.log(LOGGER.messages.charts_service_chart_received);

            d.getElementById("progress-{{ divId }}").value = "100";

            var js = d.createElement(s), sc = d.getElementsByTagName(s)[0];
            js.innerHTML = code;
            js.type = "text/javascript";
            sc.parentNode.insertBefore(js, sc);
        }

        $.ajax({
            type: 'POST',
            url: "{{ charts_url }}" + uri,
            data: payload,
            traditional: true,
            beforeSend: function (jqXHR, settings) {
                /*
                 Progress bars update
                 */
                d.getElementById("progress-{{ divId }}").value = "10";
                LOGGER.log(LOGGER.messages.charts_service_sending_data);
            },

            success: function (code) {

                setTimeout(onSuccess(code), 10);
            },
            error: function (ok, status) {

                d.getElementById("progress-{{ divId }}").value = "100";
                LOGGER.log(LOGGER.messages.charts_service_down);

            },
            complete: function () {

                d.getElementById("progress-{{ divId }}").value = "75";
            },
            dataType: "text",
            async: false
        });
    }
    ;
</script>

<script async type="application/javascript">
    google.load('visualization', '1.0', {'packages': ['table', 'corechart']});
    google.setOnLoadCallback(
            loadAsyncChart(document, "script", "{{ divId }}", "{{ data|safe }}", "{{ labels | safe }}", "{{ colors | safe }}", "{{ kind | safe }}", "{{ xAxis | safe }}", "{{ my_options | safe }}")
    );
</script>