<div id="{{ divId }}" style="font-family: 'Helvetica'; color: grey; min-height: 10em; margin: auto; text-align: center"
     class="center-block">
    <div>
        <progress id="progress-{{ divId }}" value="0" max="100"></progress>
    </div>
    <div id="console-{{ divId }}" style="text-align: center; font-size: .75em"></div>
</div>

<script async src="https://www.google.com/jsapi" type="text/javascript"></script>

<script async type="application/javascript">

    UI = {
        console: $("#console-{{ divId }}"),
        progress: $("#progress-{{ divId }}"),
        chart: $("#{{ divId }}")
    };

    LOGGER = {
        enabled: true,
        debug: true,
        log: function (txt) {
            if (!LOGGER.debug) {
                console.log(txt);
            }
            UI.console.text(txt);// = txt;
        },
        messages: {
            /*
             Messages to be displayed in the LOGGER console
             */
            error: "Ups, something went wrong.",
            charts_service_down: "Looks like the charts service is down :(",
            charts_service_sending_data: "Sending data to charts service...",
            charts_service_chart_received: "Async chart received..."
        }
    };

    loadExternalScript = function (url, callback) {

        d = document;
        s = "script";

        var js = d.createElement(s),
                sc = d.getElementsByTagName(s)[0];

        js.src = url;
        js.type = "text/javascript";
        sc.parentNode.insertBefore(js, sc);
        js.onload = js.onreadystatechange = function () {

            /*
             callback receives no params at all
             */
            callback();
        };
    };

    function loadAsyncChart(d, s, divId, x, labels, colors, kind, xType, my_options) {

        UI.progress.val("10");

        var payload = {
            "x": x,
            "divId": divId,
            "labels": labels,
            "colors": colors,
            "kind": kind,
            "xType": xType,
            "my_options": my_options
        };

        var uri = "";
        if (kind != "ColumnChart") {
            uri = "/code/";  // Last slash *is* important
        } else {
            uri = "/hist/code/";
        }

        var onSuccess = function (code) {
            LOGGER.log(LOGGER.messages.charts_service_chart_received);

            UI.progress.val("100");

            var js = d.createElement(s), sc = d.getElementsByTagName(s)[0];
            js.innerHTML = code;
            js.type = "text/javascript";
            sc.parentNode.insertBefore(js, sc);

            UI.progress.remove();
            UI.console.remove();

        }

        $.ajax({
            type: 'POST',
            url: "{{ charts_url }}" + uri,
            data: payload,
            traditional: true,
            beforeSend: function (jqXHR, settings) {
                /*
                 Progress bars update
                 */
                UI.progress.val("10");
                LOGGER.log(LOGGER.messages.charts_service_sending_data);
            },

            success: function (code) {

                setTimeout(onSuccess(code), 10);
            },
            error: function (ok, status) {

                UI.progress.val("100");
                LOGGER.log(LOGGER.messages.charts_service_down);

            },
            complete: function () {

                UI.progress.val("75");
            },
            dataType: "text",
            async: false
        });
    }
    ;
</script>

<script async type="application/javascript">
    google.load('visualization', '1.0', {'packages': ['table', 'corechart']});
    google.setOnLoadCallback(
            loadAsyncChart(document, "script", "{{ divId }}", "{{ x|safe }}", "{{ labels | safe }}", "{{ colors | safe }}", "{{ kind | safe }}", "{{ xType | safe }}", "{{ my_options | safe }}")
    );
</script>